{% extends 'base.html' %}
{% load static %}
{% block contexts %}
    {% block title %}Contact Us{% endblock %}




    <section class="about-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <img src="{% static 'overwite/imgover/about-us.jpg' %}" alt="">
                    <p></p>
                </div>
            </div>
<h3>Backend developed using Django by Matin Talkhbe</h3>
        </div>
    </section>


{% endblock %}

